<h1><%= @souvenir.title %></h1>

<p> <%= @souvenir.feeling %></p>
<p> <%= @souvenir.timemarker %></p>

<p class="lead"><%= @souvenir.description %></p>

<p style="color: green"><%= notice %></p>

<%= render @souvenir %> <%# C'EST DU RUBY %>

<div>
  <%= link_to "Edit this souvenir", edit_souvenir_path(@souvenir) %> |
  <%= link_to "Back to souvenirs", souvenirs_path %>

  <%= button_to "Destroy this souvenir", @souvenir, method: :delete %>
</div>
